.MainText{
    min-height: calc(100vh - 100px) ;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    &__text{
        margin-left: 30px;
        font-size: 4vw;
    }
    &__scroll{
        position: fixed;
        bottom: 50px;
        left: 50px;
        cursor: pointer;
        img {
            width: 50px;
        }
    }
}